.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: inherit !important;
}

.search-form button {
    margin-left: -69px;
}

.search-form .form-group {
    width: inherit !important;
}

.search-item {
    width: 300px;
}

.type {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.card-search {
    margin-top: 10px;
    margin-bottom: 10px;
}
