.justify-content-center {
    padding: 0 150px;
}

.card-group .card {
    max-width: 400px;
}

.card-img-top {
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
}

.title h1 {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(217, 224, 229);
    width: 20%;
    margin-bottom: 20px;

}
