.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.buttons-create {
    margin-left: 25px;
}

#order-table {
    padding-top: 20px;
    margin-top: 15px !important;
    width: 100%;
    border-left: 2px solid #464444 !important;
    border-right: 2px solid #464444 !important;
    border-top: 2px solid #464444 !important;
    border-radius: 10px;
}

#order-table thead tr th {
    border-bottom: 2px solid black !important;
    text-align: center !important;
}

#order-table tbody tr td {
    padding: 5px;
    text-align: center;
}

#order-table td {
    text-transform: capitalize;
    border-bottom: 2px solid #464444 !important;
}

#order-table thead tr th {
    padding: 0;
    min-width: 150px;
}

#orderForm .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

label.error {
    color: red;
}

#order-table_filter {
    display: inline-block;
    float: right;
}

.dataTables_length select option {
    color: #464444 !important;
}
