.model-image {
    width: 100px;
    height: 100px;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttons-create {
    margin-left: 25px;
}

.action-buttons button {
    width: 75px;

}

#user-table {
    padding-top: 20px;
    /* table-layout: fixed !important; */
    width: 100%;
    border-left: 2px solid #464444 !important;
    border-right: 2px solid #464444 !important;
    border-top: 2px solid #464444 !important;
    border-radius: 2%;
}

#user-table thead tr th {
    border-bottom: 2px solid black !important;
    text-align: center !important;
}

#user-table tbody tr td {
    padding: 5px;
    text-align: center;
}

/* .price{
    text-align: center;
} */

/* #user-table {
    border: 1px solid #464444 !important;
} */

/* #user-table th {
    border: 1px solid #464444 !important;
} */

#user-table td {
    text-transform: capitalize;
    border-bottom: 2px solid #464444 !important;
}

#user-table thead tr th {
    padding: 0;
    min-width: 120px;
}

#userForm .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

label.error {
    color: red;
}

#user-table_filter {
    display: inline-block;
    float: right;
}
