.model-image {
    width: 100px;
    height: 100px;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttons-create {
    margin-left: 25px;
}

.action-buttons button {
    width: 75px;

}

#user-table {
    padding-top: 20px;
    /* table-layout: fixed !important; */
    margin-top: 15px !important;
    width: 100%;
    border-left: 2px solid #464444 !important;
    border-right: 2px solid #464444 !important;
    border-top: 2px solid #464444 !important;
    border-radius: 10px;
}

#user-table thead tr th {
    border-bottom: 2px solid black !important;
    text-align: center !important;
}

#user-table tbody tr td {
    padding: 5px;
    text-align: center;
}

/* .price{
    text-align: center;
} */

/* #user-table {
    border: 1px solid #464444 !important;
} */

/* #user-table th {
    border: 1px solid #464444 !important;
} */

#user-table td {
    text-transform: capitalize;
    border-bottom: 2px solid #464444 !important;
}

#user-table thead tr th {
    padding: 0;
    min-width: 75px;
}

#userForm .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

label.error {
    color: red;
}

#user-table_filter {
    display: inline-block;
    float: right;
}

td.email {
    text-transform: lowercase !important;
}

#uploadName {
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.2s ease-in-out;
    width: 300px;
}

#uploadName:focus {
    border-color: #66afe9;
    outline: 0;
}

.form-import {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 40px;
    gap: 10px;

}
#importForm{
    margin-bottom: 20px;
}
